name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Đặt working-directory chung cho tất cả các bước bên dưới
    defaults:
      run:
        working-directory: ./herb_scan

    steps:
      - uses: actions/checkout@v4
      
      # Bước 1: Cài đặt Flutter SDK
      - uses: subosito/flutter-action@v2 
        with:
          flutter-version: '3.x' 
          channel: 'stable'

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test
